altair 
asttokens 
attrs 
backcall 
blinker
Bottleneck
Brotli 
cachetools 
certifi 
cffi 
charset-normalizer 
click 
colorama
comm 
cryptography 
debugpy 
decorator 
exceptiongroup 
executing 
gitdb
GitPython
idna 
importlib-metadata 
ipykernel 
ipython 
ipywidgets 
jedi 
Jinja2
jsonschema 
jsonschema-specifications 
jupyter_client 
jupyter_core 
jupyterlab-widgets 
markdown-it-py 
MarkupSafe 
matplotlib-inline 
mdurl 
mkl-fft 
mkl-random 
mkl-service==2.4.0
nest-asyncio
numexpr 
numpy 
packaging 
pandas 
parso 
pickleshare 
Pillow 
platformdirs 
prompt-toolkit
protobuf==3.20.3
psutil 
pure-eval 
pyarrow==11.0.0
pycparser 
pydeck 
Pygments 
Pympler 
pyOpenSSL 
PySocks 
python-dateutil
pytz 
PyYAML 
pyzmq 
referencing 
requests 
rich 
rpds-py 
six 
smmap 
stack-data 
streamlit 
tenacity
toml
toolz
tornado
traitlets 
typing_extensions
tzdata 
tzlocal 
urllib3 
validators
watchdog 
widgetsnbextension 
win-inet-pton 
zipp 
